{% extends 'base.html.twig' %}

{% block body %}

    <div class="container navbar-fixed-top" style="position: absolute; top: 12em">

        {% for message in app.flashes('message') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-warning" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        <div class="container">
            <h3 style="text-align: center; color: blue"><strong><em>{% trans %}Contact us for further answers to your questions.{% endtrans %}</em></strong></h3>
            <br>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header bg-primary text-white"><i class="fa fa-envelope"></i> {% trans %}Contact us.{% endtrans %}
                        </div>
                        <div class="card-body">
                            <form action="{{ path('app_sendMessage') }}" method="post">
                                <div class="form-group">
                                    <label for="name">{% trans %}Name{% endtrans %}</label>
                                    <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter name" required>
                                </div>
                                <div class="form-group">
                                    <label for="email">{% trans %}Email address{% endtrans %}</label>
                                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
                                    <small id="emailHelp" class="form-text text-muted">{% trans %}We'll never share your email with anyone else.{% endtrans %}</small>
                                </div>
                                <div class="form-group">
                                    <label for="message">{% trans %}Message{% endtrans %}</label>
                                    <textarea class="form-control" id="message" rows="6" required></textarea>
                                </div>
                                <div class="mx-auto">
                                    <button type="submit" class="btn btn-primary text-right"><strong><em>{% trans %}Send{% endtrans %}</em></strong></button></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                   <div class="card bg-light mb-3">
                        <div class="card-header bg-success text-white text-uppercase"><i class="fa fa-home"></i> {% trans %}Address{% endtrans %}</div>
                            {% for club in clubs %}
                                <div class="card-body">
                                    <p><span class="glyphicon glyphicon-road"></span> {{ club.address }} {{ club.number }}</p>
                                    <p><span class="glyphicon glyphicon-inbox"></span> {{ club.postalCode }} {{ club.city }}</p>
                                    <p>{{ club.country }}</p>
                                    <p><span class="glyphicon glyphicon-envelope"></span> {% trans %}Email : {% endtrans %} {{ club.emailAddress }}</p>
                                    <p><spna class="glyphicon glyphicon-earphone"></spna> {% trans %}Phone : {% endtrans %} {{ club.phone }}</p>
                                </div>
                            {% endfor %}
                    </div>
                </div>
            </div>
            <br><br>
        </div>
        <br><br><br>
    </div>

{% endblock %}