{% extends 'member.html.twig' %}

{% block body %}

    <div class="container" style="position: absolute; top: -28em; margin-top: auto"><br><br>

        {{ include('Errors/errors.html.twig') }}

        <h3 style="text-align: center; color: white; background-color: blueviolet">{% trans %}My lessons{% endtrans %}</h3>
        <br><br>
        {% if subscriptions %}
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead style="color: blue">
                    <tr>
                        <th>{% trans %}Type{% endtrans %}</th>
                        <th>{% trans %}Price{% endtrans %}</th>
                        <th>{% trans %}Start{% endtrans %}</th>
                        <th>{% trans %}End{% endtrans %}</th>
                        <th>{% trans %}Name of lessons{% endtrans %}</th>
                        <th>{% trans %}Name of coachs{% endtrans %}</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for sub in subscriptions %}
                        <tr>
                            <td>{{ sub.type }}</td>
                            <td>{{ sub.price }}</td>
                            <td>{{ sub.createdAt | date('d-m-Y') }}</td>
                            <td>{{ sub.finishedAt | date('d-m-Y') }}</td>
                            <td>
                                {% for less in sub.lessons %}
                                    {{ less.name }}
                                    <td>
                                        {% for coach in less.coach %}
                                            {{ coach.firstname }} {{ coach.name }}
                                        {% endfor %}
                                    </td>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
         {% else %}
            <p><strong><em style="color: blue">{% trans %}Sorry, your subscription isn't longer valid!{% endtrans %}</em></strong></p>
         {% endif %}
    </div>

{% endblock %}