{% extends 'member.html.twig' %}

{% block title %}Member booking index{% endblock %}

{% block body %}

    <div class="container navbar-fixed-top" style="position: absolute; top: -18em; margin-top: auto">

        {{ include('Errors/errors.html.twig') }}

        <h3 style="text-align: center; color: white; background-color: blueviolet"><strong><em>{% trans %}Reservation of a field or a sports hall{% endtrans %}</em></strong></h3><br><br>
        <div class="table responsive">
            <table class="table table-striped table-sm">
                <thead style="color: blue">
                    <tr>
                        <th>{% trans %}Locations{% endtrans %}</th>
                        <th>{% trans %}Start{% endtrans %}</th>
                        <th>{% trans %}End{% endtrans %}</th>
                        <th>{% trans %}Total price{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {% if booking.field is null %}
                                {{ booking.hall }}
                            {% else %}
                                {{ booking.field }}
                            {% endif %}
                        </td>
                        <td>{{ booking.beginAt | date('Y-m-d h:i') }}</td>
                        <td>{{ booking.endAt | date('Y-m-d h:i') }}</td>
                        <td>{{ booking.priceTotal }}</td>
                    </tr>
                </tbody>
            </table>
        </div><br>
    </div><br><br><br>

{% endblock %}
