{% extends 'base.html.twig' %}

{% block title %}Hello FormulaireAbonnementController!{% endblock %}

{% block body %}
    <div class="container">
        <h2 style="text-align: center; color: blue">Toutes les formules d'abonnement de chez AS-Molenbeekoise</h2>
        <p style="text-align: center; color: red">Veuillez cliquer sur le sport pour visualiser ces différents prix.</p>
        <ul style="text-align: center">
            <ol><strong><em style="color: blue">Enfant</em></strong> une fois par semaine pour les moins de 14</ol>
            <ol><strong><em style="color: blue">Basic</em></strong> une fois par semaine</ol>
            <ol><strong><em style="color: blue">VIP</em></strong> plusieurs fois par semaine</ol>
        </ul>
    </div>

    <div class="container navbar-fixed-top"><br><br><br>
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav my-2 my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_offre', {'sport': 'athletisme'}) }}"><strong><em>Athlétisme</em></strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_offre', {'sport': 'basketball'}) }}"><strong><em>Basket-ball</em></strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_offre', {'sport': 'boxe'}) }}"><strong><em>Boxe</em></strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_offre', {'sport': 'fitness'}) }}"><strong><em>Fitness</em></strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_offre', {'sport': 'football'}) }}"><strong><em>Football</em></strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_offre', {'sport': 'footsal'}) }}"><strong><em>Foot-salle</em></strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_offre', {'sport': 'karate'}) }}"><strong><em>Karaté</em></strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_offre', {'sport': 'natation'}) }}"><strong><em>Natation</em></strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_offre', {'sport': 'tennis'}) }}"><strong><em>Tennis</em></strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_offre', {'sport': 'zumba'}) }}"><strong><em>Zumba</em></strong></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

{% endblock %}
