{% extends 'base.html.twig' %}

{% block title %}Hello FormulaireAbonnementController!{% endblock %}

{% block body %}
    <div class="container">
        <h2 style="text-align: center; color: blue">{% trans %}All susbscription packages from AS-Molenbeekoise{% endtrans %}</h2>
        <p style="text-align: center; color: red">{% trans %}Please click on the sport to view these different prices{% endtrans %}</p>
        <ul style="text-align: center">
            <ol><strong><em style="color: blue">{% trans %}Child{% endtrans %}</em></strong> {% trans %}once a week for children under 14{% endtrans %}</ol>
            <ol><strong><em style="color: blue">{% trans %}Basic{% endtrans %}</em></strong> {% trans %}once a week{% endtrans %}</ol>
            <ol><strong><em style="color: blue">{% trans %}VIP{% endtrans %}</em></strong> {% trans %}several times a week{% endtrans %}</ol>
        </ul>
    </div>

    <div class="container navbar-fixed-top"><br><br><br>
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav my-2 my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_offre', {'sport': 'athletisme'}) }}"><strong><em>{% trans %}Athletics{% endtrans %}</em></strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_offre', {'sport': 'basket-ball'}) }}"><strong><em>{% trans %}Basketball{% endtrans %}</em></strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_offre', {'sport': 'boxe'}) }}"><strong><em>{% trans %}Boxing{% endtrans %}</em></strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_offre', {'sport': 'cours de fitness'}) }}"><strong><em>{% trans %}Fitness{% endtrans %}</em></strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_offre', {'sport': 'foot-ball'}) }}"><strong><em>{% trans %}Football{% endtrans %}</em></strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_offre', {'sport': 'foot-salle'}) }}"><strong><em>{% trans %}Futsal{% endtrans %}</em></strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_offre', {'sport': 'karaté'}) }}"><strong><em>{% trans %}Karate{% endtrans %}</em></strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_offre', {'sport': 'natation'}) }}"><strong><em>{% trans %}Swimming{% endtrans %}</em></strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_offre', {'sport': 'tennis'}) }}"><strong><em>{% trans %}Tennis{% endtrans %}</em></strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_offre', {'sport': 'zumba'}) }}"><strong><em>{% trans %}Zumba{% endtrans %}</em></strong></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

{% endblock %}
