{% extends 'admin.html.twig' %}

{% block title %}Booking index{% endblock %}

{% block body %}

    <div class="container navbar-fixed-top" style="position: absolute; top: -7em; margin-top: auto">

        <h3 style="text-align: center; color: red; background-color: black"><strong><em>Liste des réservations</em></strong></h3><br><br>
        <div class="table responsive">
            <table class="table table-striped table-sm">
                <thead style="color: blue">
                    <tr>
                        <th>BeginAt</th>
                        <th>EndAt</th>
                        <th>Title</th>
                        <th>Type</th>
                        <th>PriceTotal</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for booking in bookings %}
                    <tr>
                        <td>{{ booking.beginAt ? booking.beginAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ booking.endAt ? booking.endAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ booking.title }}</td>
                        <td>{{ booking.type }}</td>
                        <td>{{ booking.priceTotal }}</td>
                        <td>
                            <a href="{{ path('booking_show', {'id': booking.id}) }}"><button class="btn-block btn-sm" style="background-color: blueviolet">Afficher</button></a>
                            <a href="{{ path('booking_edit', {'id': booking.id}) }}"><button class="btn-block btn-sm" style="background-color: yellowgreen">Éditer</button></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6"><em style="color: red">no records found</em></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div><br>
        <a href="{{ path('booking_new') }}"><button class="btn btn-success btn-sm">Créer</button></a><br><br>
    </div><br><br><br>

{% endblock %}
