{#{% if is_granted('ROLE_ADMIN') %}
    {%  set page = 'admin.html.twig' %}
{% elseif is_granted('ROLE_MEMBER') %}
    {% set page =  'member.html.twig' %}
{% elseif is_granted('ROLE_COACH') %}
    {% set page = 'coach.html.twig' %}
{% elseif is_granted('ROLE_USER') %}
    {% set page = 'member.html.twig' %}
{% endif %}

{% extends page %}  #}

{% extends 'admin.html.twig' %}

{% block title %}Booking{% endblock %}

{% block body %}

    <div class="container navbar-fixed-top" style="position: relative; top: 9em">

        {{ include('Errors/errors.html.twig') }}

        <h3 style="text-align: center; color: red; background-color: black">{% trans %}Booking{% endtrans %}</h3><br><br>

        <table class="table table-striped table-sm">

            <tbody>
            <tr>
                <th style="color: blue; font-size: 13px">{% trans %}BeginAt{% endtrans %}</th>
                <td>{{ booking.beginAt ? booking.beginAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th style="color: blue; font-size: 13px">{% trans %}EndAt{% endtrans %}</th>
                <td>{{ booking.endAt ? booking.endAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th style="color: blue; font-size: 13px">{% trans %}Title{% endtrans %}</th>
                <td>{{ booking.title }}</td>
            </tr>
            <tr>
                <th style="color: blue; font-size: 13px">{% trans %}Type{% endtrans %}</th>
                <td>{{ booking.type }}</td>
            </tr>
            <tr>
                <th style="color: blue; font-size: 13px">{% trans %}PriceTotal{% endtrans %}</th>
                <td>{{ booking.priceTotal }}</td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('booking_index') }}"><button class="btn btn-primary btn-sm" style="background-color: blueviolet"><span class="glyphicon glyphicon-home"></span> {% trans %}Back to list{% endtrans %}</button></a>

        <a href="{{ path('booking_edit', {'id': booking.id}) }}"><button class="btn btn-primary btn-sm" style="background-color: yellowgreen"><span class="glyphicon glyphicon-pencil"></span> {% trans %}Edit{% endtrans %}</button></a><br><br>

        {{ include('booking/_delete_form.html.twig') }}<br><br>

    </div><br><br><br><br><br>

{% endblock %}
