{% extends 'admin.html.twig' %}

{% block title %}Field{% endblock %}

{% block body %}

    <div class="container navbar-fixed-top"  style="position: relative; top: -3em">

        {{ include('Errors/errors.html.twig') }}

        <h3 style="text-align: center; color: red; background-color: black"><em>{% trans %}Terrain{% endtrans %}</em></h3><br><br>

            <table class="table table-striped table-sm">
                <tbody>
                <tr>
                    <th style="color: blue; font-size: 13px">{% trans %}Name{% endtrans %}</th>
                    <td>{{ field.name }}</td>
                </tr>
                <tr>
                    <th style="color: blue; font-size: 13px">{% trans %}Capacity{% endtrans %}</th>
                    <td>{{ field.capacity }}</td>
                </tr>
                <tr>
                    <th style="color: blue; font-size: 13px">{% trans %}Price Hour{% endtrans %}</th>
                    <td>{{ field.priceHour }}</td>
                </tr>
                </tbody>
            </table>

        <a href="{{ path('field_index') }}"><button class="btn btn-primary btn-sm" style="background-color: blueviolet"><span class="glyphicon glyphicon-home"></span> {% trans %}Back to list{% endtrans %}</button></a>

        <a href="{{ path('field_edit', {'id': field.id}) }}"><button class="btn btn-primary btn-sm" style="background-color: yellowgreen"><span class="glyphicon glyphicon-pencil"></span> {% trans %}Edit{% endtrans %}</button></a><br><br>

        {{ include('field/_delete_form.html.twig') }}<br><br>

    </div>

{% endblock %}
