{{ include('menus/menusGestion/menuAbonnement.html.twig') }}
    <div class="container navbar-fixed-top"><br><br>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">{% trans %}Duration{% endtrans %}</th>
                <th scope="col">{% trans %}1 month{% endtrans %}</th>
                <th scope="col">{% trans %}3 months{% endtrans %}</th>
                <th scope="col">{% trans %}6 months{% endtrans %}</th>
                <th scope="col">{% trans %}1 year{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% set p = price %}
                <tr>
                    {% set pe = p - (p * 15/100) %}
                    <th scope="row">{% trans %}Child{% endtrans %}</th>
                    <td>{{ pe }}</td>
                    <td>{{ pe * 3 }}</td>
                    <td>{{ pe * 6 - (pe / 2) }}</td>
                    <td>{{ pe * 11 }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans %}Basic{% endtrans %}</th>
                    <td>{{ p }}</td>
                    <td>{{ p * 3 }}</td>
                    <td>{{ p * 6 - (p / 2) }}</td>
                    <td>{{ p * 11 }}</td>
                </tr>
                <tr>
                    {% set pv = p * 1.25 %}
                    <th scope="row">{% trans %}VIP{% endtrans %}</th>
                    <td>{{ pv }}</td>
                    <td>{{ pv * 3 }}</td>
                    <td>{{ pv * 6 - (pv / 2) }}</td>
                    <td>{{ pv * 11 }}</td>
                </tr>
            </tbody>
        </table>
    </div>