{{ include('menus/menusGestion/menuAbonnement.html.twig') }}
    <div class="container"><br><br>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Durée</th>
                <th scope="col">1 mois</th>
                <th scope="col">3 mois</th>
                <th scope="col">6 mois</th>
                <th scope="col">1 an</th>
            </tr>
            </thead>
            <tbody>
            {% for zumba in zumbas %}
                {% set texto = 'Pas de price encore' %}
                <tr>
                    <th scope="row">Basic</th>
                    <td>{{ zumba.price }}</td>
                    <td>{{ zumba.price * 3 }}</td>
                    <td>{{ zumba.price * 6 - (zumba.price / 2) }}</td>
                    <td>{{ zumba.price * 11 }}</td>
                </tr>
                <tr>
                    {% set p = zumba.price - (zumba.price * 15/100) %}
                    <th scope="row">Enfant</th>
                    <td>{{ p }}</td>
                    <td>{{ p * 3 }}</td>
                    <td>{{ p * 6 - (p / 2) }}</td>
                    <td>{{ p * 11 }}</td>
                </tr>
                <tr>
                    {% set p = zumba.price * 1.25 %}
                    <th scope="row">VIP</th>
                    <td>{{ p }}</td>
                    <td>{{ p * 3 }}</td>
                    <td>{{ p * 6 - (p / 2) }}</td>
                    <td>{{ p * 11 }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>