{% extends 'admin.html.twig' %}

{% block title %}Club{% endblock %}

{% block body %}

    <div class="container navbar-fixed-top" style="position: relative; top: 25em">
        <h3 style="color: red; text-align: center; background-color: black">Club</h3><br><br>

        <table class="table table-striped table-sm">
            <tbody>
                <tr>
                    <th style="color: blue">Name</th>
                    <td>{{ club.name }}</td>
                </tr>
                <tr>
                    <th style="color: blue">EmailAddress</th>
                    <td>{{ club.emailAddress }}</td>
                </tr>
                <tr>
                    <th style="color: blue">Phone</th>
                    <td>{{ club.phone }}</td>
                </tr>
                <tr>
                    <th style="color: blue">Address</th>
                    <td>{{ club.address }}</td>
                </tr>
                <tr>
                    <th style="color: blue">Number</th>
                    <td>{{ club.number }}</td>
                </tr>
                <tr>
                    <th style="color: blue">PostalCode</th>
                    <td>{{ club.postalCode }}</td>
                </tr>
                <tr>
                    <th style="color: blue">City</th>
                    <td>{{ club.city }}</td>
                </tr>
                <tr>
                    <th style="color: blue">Country</th>
                    <td>{{ club.country }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('club_index') }}"><buttom class="btn btn-primary btn-sm" style="background-color: blueviolet">Retour</buttom></a>

        <a href="{{ path('club_edit', {'id': club.id}) }}"><buttom class="btn btn-primary btn-sm" style="background-color: yellowgreen">Éditer</buttom></a><br><br>

        {{ include('club/_delete_form.html.twig') }}<br><br>

    </div><br><br><br>

{% endblock %}
