{% extends 'admin.html.twig' %}

{% block title %}Subscription index{% endblock %}

{% block body %}

    <div class="container navbar-fixed-top" style="position: absolute; top: 0em; margin-top: auto">

        <h3 style="text-align: center; color: red; background-color: black"><em>Liste des inscrits</em></h3><br><br>
        <div class="responsive">
            <table class="table table-striped table-sm">
                <thead style="color: blue">
                    <tr>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>CreatedAt</th>
                        <th>UpdatedAt</th>
                        <th>FinishedAt</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for subscription in subscriptions %}
                    <tr>
                        <td>{{ subscription.type ? subscription.type|join(', ') : '' }}</td>
                        <td>{{ subscription.description }}</td>
                        <td>{{ subscription.price }}</td>
                        <td>{{ subscription.createdAt ? subscription.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ subscription.updatedAt ? subscription.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ subscription.finishedAt ? subscription.finishedAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>
                            <a href="{{ path('subscription_show', {'id': subscription.id}) }}"><button class="btn-block btn-sm" style="background-color: blueviolet">Afficher</button></a>
                            <a href="{{ path('subscription_edit', {'id': subscription.id}) }}"><button class="btn-block btn-sm" style="background-color: yellowgreen">Éditer</button></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7" style="color: red">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div><br>

        <a href="{{ path('subscription_new') }}"><button class="btn btn-success btn-sm">Créer</button></a><br><br>

    </div><br><br><br>
{% endblock %}
