{% extends 'admin.html.twig' %}

{% block title %}Administrator index{% endblock %}

{% block body %}
    <div class="container navbar-fixed-top" style="position: absolute; top: 0%; margin-top: auto"><br><br>
        <h3 style="text-align: center; color: red; background-color: black"><em>Liste des administrateurs</em></h3><br><br>

        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead style="color: blue">
                <tr>
                    <th>Name</th>
                    <th>FirstName</th>
                    <th>Birthdate</th>
                    <th>Username</th>
                    <th>EmailAddress</th>
                    <th>Password</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>PostalCode</th>
                    <th>City</th>
                    <th>Country</th>
                    <th>Avatar</th>
                    <th>Roles</th>
                    <th>CreatedAt</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for administrator in administrators %}
                    <tr>
                        <td>{{ administrator.name }}</td>
                        <td>{{ administrator.firstName }}</td>
                        <td>{{ administrator.birthdate ? administrator.birthdate|date('Y-m-d') : '' }}</td>
                        <td>{{ administrator.username }}</td>
                        <td>{{ administrator.emailAddress }}</td>
                        <td>{{ administrator.password }}</td>
                        <td>{{ administrator.phone }}</td>
                        <td>{{ administrator.address }}</td>
                        <td>{{ administrator.postalCode }}</td>
                        <td>{{ administrator.city }}</td>
                        <td>{{ administrator.country }}</td>
                        <td>
                            {% if administrator.avatar is not null %}
                                <img src="{{ administrator.avatar }} /">
                            {% else %}
                                <img src="#">
                            {% endif %}
                        </td>
                        <td>{{ administrator.roles ? administrator.roles|join(', ') : '' }}</td>
                        <td>{{ administrator.createdAt ? administrator.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>
                            <a href="{{ path('administrator_show', {'id': administrator.id}) }}"><button class="btn-block btn-sm" style="background-color: blueviolet">Afficher</button></a>
                            <a href="{{ path('administrator_edit', {'id': administrator.id}) }}"><button class="btn-block btn-sm" style="background-color: yellowgreen">Éditer</button></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="17"><em style="color: red">no records found</em></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div><br>

        <a href="{{ path('administrator_new') }}"><button class="btn btn-success btn-sm">Créer</button></a><br><br>
    </div><br><br>
{% endblock %}
